@model IEnumerable<dynamic> // เปลี่ยนเป็น dynamic

@{
    var currentUser = User.Identity.Name;
    var postData = Html.Raw(Json.Serialize(Model));
}
<style>
     .button-container {
            display: flex;
            justify-content: center;
            padding: 15px;
        }
    }
</style>
<div class="container1">

    @foreach (var post in Model)
    {
            <div class="card">
            <div class="card-bg">
                <div class="image-container">
                    <img src="/Picture/@(post.GameName).jpg" alt="@post.GameName">
                </div>
                <div class="card-content">
                        <h2>@post.GameName</h2>
                    <ul>
                        <li>เจ้าของ Post: @post.PostOwner</li>
                        <li>จำนวนสมาชิก: @post.JoinedNumber/@post.Number</li>
                        <li>สถานที่: @post.Place</li>
                        <li>วันที่: @post.Date</li>
                        <li>เวลา: @post.Time</li>
                    </ul>
                </div>
            </div>
                <form asp-controller="Home" asp-action="Join" method="POST">
                    <input hidden name="PostId" value="@post.PostId"/>
                    <div class="button-container">
                        <button id="join-button-@post.PostId" class="btn view-btn" data-postId="@post.PostId">JOIN</button>
                    </div>
                </form>
        </div>
    }
</div>
<script>
    window.currentUser = "@currentUser";
    window.postData = @postData;
</script>
<script src="~/js/HomePage.js"/>