@model IEnumerable<WebDev_MiniProject.Models.Entities.Post>;
<style>
     .button-container {
            display: flex;
            justify-content: center;
            padding: 15px;
        }
    }
</style>
<div class="container1">

    @foreach (var post in Model)
    {
            <div class="card">
            <div class="card-bg">
                <div class="image-container">
                    <img src="/Picture/@(post.GameName).jpg" alt="@post.GameName">
                </div>
                <div class="card-content">
                        <h2>@post.GameName</h2>
                    <ul>
                        <li>เจ้าของ Post: @User.Identity.Name</li>
                        <li>จำนวนสมาชิก: @post.JoinedNumber/@post.Number</li>
                        <li>สถานที่: @post.Place</li>
                        <li>วันที่: @post.Date</li>
                        <li>เวลา: @post.Time</li>
                    </ul>
                </div>
            </div>
            <div class="button-container">
                <button class="btn view-btn">JOIN</button>
            </div>
        </div>
    }
</div>
