@model IEnumerable<dynamic> // เปลี่ยนเป็น dynamic
<style>
     .button-container {
            display: flex;
            justify-content: center;
            padding: 15px;
        }
    #joined_button{
            color: #FFFFFF;
        }
</style>


<div class="container1">
        @foreach (var join in Model)
        {
            <div class="card" id="card-@join.Post.PostId">
                <div class="card-bg">
                <div class="image-container">
                    <img src="/Picture/@(join.Post.GameName).jpg" alt="@join.Post.GameName">
                </div>
                <div class="card-content">
                    <h2>@join.Post.GameName</h2>
                    <ul>
                        <li>เจ้าของ Post: @join.Post.Account.UserName</li>
                        <li>จำนวนสมาชิก: @join.Post.JoinedNumber/@join.Post.Number</li>
                        <li>สถานที่: @join.Post.Place</li>
                        <li>วันที่: @join.Post.Date</li>
                        <li>เวลา: @join.Post.Time</li>
                    </ul>
                </div>
                </div>
                <div class="button-container">
                    <form asp-controller="Home" asp-action="CancelJoin" method="post">
                        <input type="hidden" name="PostId" value="@join.Post.PostId"/>
                        <button id ="cancle-button-@join.Post.PostId" class="btn view-btn">CANCLE</button>
                    </form>

                </div>
            </div>
        }
</div>
@* <script src="~/js/CancelJoin.js" asp-append-version="true"></script> *@


   

    