@model IEnumerable<dynamic> 

<style>
    #posted_button{
            color: #FFFFFF;
        }
    @@media only screen and (max-width: 1024px) {
        .button-container {
            justify-content: space-around;
            align-self: center;
            width: -webkit-fill-available;
    }
        }
</style>

<div class="container1">
     @foreach (var post in Model)
    {
            <div class="card">
            <div class="card-bg">
                <div class="image-container">
                    <img src="/Picture/@(post.GameName).jpg" alt="@post.GameName">
                </div>
                <div class="card-content">
                        <h2>@post.GameName</h2>
                    <ul>
                        <li>เจ้าของ Post: @post.Username</li>
                        <li>จำนวนสมาชิก: @post.JoinedNumber/@post.Number</li>
                        <li>สถานที่: @post.Place</li>
                        <li>วันที่: @post.Date</li>
                        <li>เวลา: @post.Time</li>
                    </ul>
                </div>
            </div>
            <div class="button-container">
                 <button class="btn view-btn">CLOSE</button>
                    <button class="btn view-btn" id="view-member-@post.PostId" data-post-id="@post.PostId"  data-id="view">VIEW MEMBER</button>
            </div>
        </div>
    }
</div>

@section displayboard{
    <div class="display-member"></div>
}

<script src="~/js/ViewMember.js" asp-append-version="true"></script>